/* Base y reset */
html {
    font-size: calc(1em + 0.5vw);
}

body {
    background: linear-gradient(rgba(51, 51, 51, 0.95), rgba(51, 51, 51, 0.95)),
        url('./otra media/ruido.png');
    background-color: #333 !important;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

body::-webkit-scrollbar {
    display: none;
}

div #telon {
    position: fixed;
    top: 25%;
    left: auto;
    width: 75%;
    height: 0.25%;
    background-color: #35A335;
    border: #35A335;
    z-index: 9999;
}

div #suelo {
    position: fixed;
    top: 75%;
    left: auto;
    width: 75%;
    height: 0.25%;
    background-color: #35A335;
}

#loading-screen {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: #333;
}

#loading-screen p {
    color: #3aff3a;
    position: absolute;
    font-size: 4rem;
    top: 40%;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: underline;
    color: #3aff3a;
    font-weight: bold;
}

/* Focus visible para accesibilidad */
h1 {
    padding: 3rem 1em;
    color: #35A335 !important;
}

h2 {
    color: #35A335 !Important;
}

p {
    color: #35A335 !Important;
}

/* Secciones y artículos */
main {
    padding: 2rem;
}

article {
    border: 1px solid #35A335;
    border-left-style: none;
    border-right-style: none;
    padding: 1rem;
    margin-bottom: 14rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

/* Criaturas */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 5rem;
    padding-left: 0;
}

/* Arreglar los px de aquí para responsividad */
.flex-container>li {
    width: 300px;
    height: 300px;
    /* margin-inline: 0.5%; */
    /* margin-bottom: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 4px solid #35A335;
    list-style-type: none;
    /* flex: 1 1 250px; */
    /* aspect-ratio: 4/3; */
    /* overflow: hidden; */
}

.flex-container>li img {
    width: 90%;
    height: 90%;
    /* display: block; */
    /* object-fit: cover; */
}

/* Footer */
footer {
    border: 1px solid #35A335;
    text-align: center;
    padding: 1rem;
    color: #35A335;
}

#test {
    width: 80px;
    height: 80px;
    background-color: #3aff3a;
}